.passwordBox {
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  height: 25px;
  width: 200px;
  margin: 0 auto;
}

.randomInput span {
  position: absolute;
  top: 0px;
  right: -35px;
}
.container {
  display: inline-block;
  position: relative;
}
